/.nb-gradle/

/build/

.gradle

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache
/NHL-Tilastot/build/
/NHL-Tilastot/.nb-gradle/
/riippuvuuksienInjektointi1/build/
/riippuvuuksienInjektointi1/.nb-gradle/